@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */

.slick-prev,
.slick-next {
  font-size: 2rem;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  padding-left: 2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
